.users{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.user{
    background: cornflowerblue;
    margin: 5px;
    width: 600px;
}
.divider{
    width: 0;
    height: 800px;
    border: black solid 1px;
    margin: 10px;
}
.userPost{
    background: cadetblue;
    width: 600px;
    margin: 5px;
}
.infoBlock{
    margin: 0 auto;
}
h1{
    text-align: center;
}
