.border{
    width: 0;
    height: 750px;
    border: black solid 1px;
    margin: 10px;
}
.users{
    width: 1100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.user{
    background: cornflowerblue;
    margin: 5px;
    width: 600px;
}
.userPost{
    background: cadetblue;
    width: 600px;
    margin: 5px;
}
.infoBlock{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
