.element{
    width: 48%;
    background: #3c3e44;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    overflow: hidden;
}
.text1{
    color: white;
}
h1{
    margin: 10px;
}
h3{
    margin:0 10px;
}
